@import './tokens.css';

.dashboard {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
}

@media (max-width: 900px) {
  .dashboard {
    height: auto;
  }
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
